@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --cor01: #D91E41;
    --cor02: #1A2730;
    --cor03: #0388A6;
    --cor04: #EDEDED;
    --cor05: #d2d2d2f1;
    --fonte1: 'Raleway', sans-serif;
}

nav{
    margin-top: 2px;
    text-align: center;
    background-color: #d91e407c;
    padding: 15px;
    font-family: var(--fonte1);
}
nav > a {
    border-radius: 0.2em;
    text-decoration: none;
    padding: 4px 15px;;
    
    
}
nav> a:hover {
    color: var(--cor03);
}

@media (max-width: 600px){
    nav > a{ 
        font-size: 1.5em;
        background: #d2d2d2c2;
        color: black;
    }

}

@media (min-width: 600px){
    nav > a{
        font-size: 1.8em;
        color: rgba(255, 255, 255, 0.74);   
    }
    nav > a:hover {
        text-decoration: underline;
    }

}



